// White #FFFFFF
// Light Blue #F1F9FF
// Mid Blue #BCE0FD
// Blue #7FC4FD
// Dark Blue #2699FB

.portfolio-bottom-left {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #F1F9FF;
}


