* {
    margin: 0px;
    padding: 0px;
}

p {

    padding: 2px; 
}

body {
    background-color: #FFFFFF;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header"
        "title"
        "content"
    ;   
}

nav {
    grid-area: header;
    background-color: #2699FB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    grid-area: title;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
    img {
        
        width: 70%;
    }
}

.blurbbox {
    width: 60%;
    padding: 5%;
    text-align: center;
    background-color: #BCE0FD;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #2699FB;
    
}






.portfolio-grid {
    grid-area: content;



    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    // align-items: center;
    
    // display: flex;
    // width: 70%;
    // flex-direction: row;
    // flex-wrap: wrap;
    
    

    // align-content: space-around;
    // align-items: center;
}


.portfolio-grid {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    // grid-auto-rows: 420px;
    // grid-gap: 20px;
  }
  
  .container {
    position: relative;
    text-align: left;
    margin: 5px;
    padding: 0px;
    height: 100%;
    
    // background-color: #fff;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    

    // img {
    //     // height: 410px;
    //     // width: 100%;
    // }
  }

  .reference-bottom-left {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #F1F9FF;
}

.bottom-left-sub {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 1em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #F1F9FF;
}

.reference-text {
    position: absolute;
    top: 25px;
    left: 20px;
    right: 20px;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #f1f9ff;
    font-style: italic;
    letter-spacing: 2px
}

.vlog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
}

iframe {
    width:70%;
    height:400px;
}

.contact-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.contact-item {
    width: 60%;
    padding: 5%;
    text-align: left;
    background-color: #BCE0FD;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #2699FB;
    
}

.social-items-test {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 40%;
    width: 60%;
    padding: 5%;
    text-align: center;
    background-color: #BCE0FD;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #2699FB;
    align-content: center;
    
}

.social-items {
    max-width: 800px;
    display: block;
    // flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // align-content: space-evenly;
}

.fab {
    padding: 10px;
    font-size: 2em;
    width: 10%;
    text-align: center;
    margin: 10px 10px;
    transform: scale(1.25);
    background: #3B5998;
    color: white;
  }

  .fab:hover {
    opacity: 0.7;
}

.portfolio-img {
    display: flex;
    justify-content: center;
    width: 100%;
}



// White #FFFFFF
// Light Blue #F1F9FF
// Mid Blue #BCE0FD
// Blue #7FC4FD
// Dark Blue #2699FB