* {
    margin: 0px;
    padding: 0px;
}

p {

    padding: 2px; 
}

body {
    background-color: #FFFFFF;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header"
        "title"
        "content"
    ;   
}

nav {
    grid-area: header;
    background-color: #2699FB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    grid-area: title;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
    img {
        height: 340px;
        width: 410px;
    }
}

.blurbbox {
    width: 370px;
    padding: 1em;
    text-align: left;
    background-color: #BCE0FD;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: sans-serif;
    color: #2699FB;
    
}

.container {
    position: relative;
    text-align: left;
    margin: 0px;
    padding: 0px;
  }



.reference-bottom-left {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: 1.5em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #F1F9FF;
}

.bottom-left-sub {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-size: 1em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #F1F9FF;
}


.portfolio-grid {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.reference-text {
    position: absolute;
    top: 25px;
    left: 20px;
    right: 20px;
    font-size: 1.25em;
    font-family: sans-serif;
    color: #2699FB;
    padding: 1em;
    background-color: #f1f9ff;
    font-style: italic;
    letter-spacing: 2px
}

.vlog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 1em;
}

// White #FFFFFF
// Light Blue #F1F9FF
// Mid Blue #BCE0FD
// Blue #7FC4FD
// Dark Blue #2699FB