* {
  margin: 0px;
  padding: 0px;
}

p {
  padding: 2px;
}

body {
  background-color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
      grid-template-areas: "header" "title" "content";
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #2699FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  width: 70%;
}

.blurbbox {
  width: 60%;
  padding: 5%;
  text-align: center;
  background-color: #BCE0FD;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: #2699FB;
}

.portfolio-grid {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  position: relative;
  text-align: left;
  margin: 5px;
  padding: 0px;
  height: 100%;
}

.reference-bottom-left {
  position: absolute;
  bottom: 50px;
  left: 20px;
  font-size: 1.5em;
  font-family: sans-serif;
  color: #2699FB;
  padding: 1em;
  background-color: #F1F9FF;
}

.bottom-left-sub {
  position: absolute;
  bottom: 25px;
  left: 20px;
  font-size: 1em;
  font-family: sans-serif;
  color: #2699FB;
  padding: 1em;
  background-color: #F1F9FF;
}

.reference-text {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 20px;
  font-size: 1.25em;
  font-family: sans-serif;
  color: #2699FB;
  padding: 1em;
  background-color: #f1f9ff;
  font-style: italic;
  letter-spacing: 2px;
}

.vlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

iframe {
  width: 70%;
  height: 400px;
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact-item {
  width: 60%;
  padding: 5%;
  text-align: left;
  background-color: #BCE0FD;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: #2699FB;
}

.social-items-test {
  width: 60%;
  padding: 5%;
  text-align: center;
  background-color: #BCE0FD;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-family: sans-serif;
  color: #2699FB;
  -ms-flex-line-pack: center;
      align-content: center;
}

.social-items {
  max-width: 800px;
  display: block;
}

.fab {
  padding: 10px;
  font-size: 2em;
  width: 10%;
  text-align: center;
  margin: 10px 10px;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  background: #3B5998;
  color: white;
}

.fab:hover {
  opacity: 0.7;
}

.portfolio-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */